<%- include('partials/header') %>

<main class="container mx-auto mt-10 px-6">
  <!-- Include Add Todo Form -->
  <%- include('partials/addTodoForm') %>

  <!-- Include Filter Buttons -->
  <%- include('partials/filterButtons') %>

  <!-- Include Todo List Table -->
  <%- include('partials/todoListTable', { todos: todos }) %>

  <!-- Include Edit Todo Modal -->
  <%- include('partials/editTodoModal') %>
</main>

<%- include('partials/footer') %>
